template(name='newPosts')
  +postsList options

template(name='bestPosts')
  +postsList options

template(name='postsList')
  .posts
    each postsWithRank
      +postItem
    if nextPath
      a.load-more(href=nextPath) Load more
