template(name='commentSubmit')
  form.comment-form(name='comment')
    div.control-group
      div.controls
        label(for='body') Comment on this post
        textarea(name='body')
    div.control-group
      div.controls
        button.btn(type='submit') Add Comment
